{% extends base %}

{% block preamble %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

    body {
        font-family: "Montserrat";
    }

    .bk-root {
        font-family: "Montserrat" !important;
    }

    .plot-tooltip {
        margin: 10px;
    }

    .container {
        margin: 100px;
    }

    .slick-header-columns,
    .slick-header-column {
        background-color: #DDDDDD !important;
        background-image: none !important;
    }

    .top-left {
        position: absolute;
        top: 8px;
        margin: auto;
        width: 95%;

    }

    .small-middle-container {
        margin: auto;
        width: 95%;
    }

    img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
      }
      .img-wrap{
        float:left;
        width:20%;
        margin-right:2%;
      }
      .desc{
        float:right;
        width:75%;
      }
      .desc p{
        margin-top:0;
      }
      .clear{
        clear:both;
      }
</style>

{% endblock %}

{% block contents%}
<div class="container-fluid">
    <div class="row">
            <img src="heart-failure/static/background.png" style="width:100%;opacity:0.2;filter:alpha(opacity=20);"" >
             
        <div class=" top-left">

            <h1 class='small-middle-container' style="font-size:1.5vw;">Chronic Heart Failure</h1>
            <h6 class='small-middle-container' style="font-size:0.8vw;">
                J. J. Nirschl, A. Janowczyk, E. G. Peyster, R. Frank, K. B. Margulies, M. D.Feldman, and A. Madabhushi.
            </h6>
            <h6 class='small-middle-container' style="font-size:0.8vw;">
                A deep-learning classifier identifies patients with clinical heart failure using whole-slide images of
                H&E tissue.
            </h6>
            <h6 class='small-middle-container'style="font-size:0.6vw;">
                PloS one,13(4):e0192726, 2018
            </h6>
        </div>
    </div>





    <div class="small-middle-container">
        <div class="row">
            <div class="col">
                <!--</br></br>
                <p>Filtering options:</p>-->
                {{ embed(roots.control_panel) }}
            </div>
        </div>
        <div class="row">

            <div class="col-4">
                {{ embed(roots.umap) }}
            </div>

            <div class="col-4">
                {{ embed(roots.img_div) }}
                {{ embed(roots.img_info_div) }}
            </div>
            <div class="col-4">
                {{ embed(roots.stacked) }}
            </div>
        </div>

        <div class="row">

            <div class="col-4 h-100">
                {{ embed(roots.dot1) }}
            </div>
            <div class="col-4">
                <div class="row h-50">
                    {{ embed(roots.dot2) }}
                </div>
                <div class="row h-50">
                    {{ embed(roots.dot3) }}
                </div>

            </div>
            <div class="col-4">
                <div class="row h-100">
                    {{ embed(roots.clustered) }}
                </div>

            </div>
        </div>


    </div>
</div>
{% endblock %}